UPLOAD_LOCATION=/mnt/immich
DB_DATA_LOCATION=./postgres
# TZ=Etc/UTC
IMMICH_VERSION=v2
DB_PASSWORD=

# The values below this line do not need to be changed
###################################################################################
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
